  
  <div>
<flash:messages></flash:messages>
  <form>
    <fieldset>
    <div><label>Experience Name:</label><input type="text" ng-model="newExperience.experience_name"></div>
    <div><label>Speciality</label><input type="text" ng-model="newExperience.special"></div>
    <div><label>Budget</label><input type="text" ng-model="newExperience.budget"></div>
    <div><label>Description</label><textarea ng-model="newExperience.description"></textarea></div>
    <button value="Add" ng-click="createExperience()">Create</button>
    </fieldset>
  </form>
</div>
 
